azure-search-documents==11.6.0
fastapi==0.115.4
langchain==0.3.27
langchain-community==0.3.27
loguru==0.7.2
pydantic-settings==2.6.1
uvicorn==0.32.0
python-dotenv==1.0.1
python-multipart==0.0.12
openai==2.7.1
tiktoken==0.8.0
azure-identity==1.25.1
azure-cosmos==4.9.0
unstructured==0.15.13
langchain-openai==0.2.8
markdown==3.7
pillow==11.0.0
pymongo==4.10.1
azure-core==1.36.0
azure-ai-vision-imageanalysis==1.0.0
nest-asyncio==1.6.0
